process {
    executor = 'awsbatch'
    queue    = 'your-aws-batch-queue'
    cpus     = 8
    memory   = '64 GB'
    time     = '24 h'

    withName: 'RUN_SC' {
        cpus   = 16
        memory = '128 GB'
    }
}

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/usr/local/bin/aws'
    }
}

workDir = 's3://your-bucket/nextflow-work'
