process {
    executor   = 'slurm'
    queue      = 'standard'
    cpus       = 8
    memory     = '64 GB'
    time       = '24 h'
    clusterOptions = '--account=myproject'

    withName: 'RUN_SC' {
        cpus   = 16
        memory = '128 GB'
    }
}

executor {
    name           = 'slurm'
    queueSize      = 50
    submitRateLimit = '10/1min'
}
